.country__title {
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  color: darkred;
}
.country__thumb-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
.country__capital,
.country__population,
.languages {
  font-size: 32px;
  color: darkblue;
  font-weight: 700;
}
.info,
.languages-list__item {
  font-weight: 400;
  color: darkblue;
}
